@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

body {
    background-color: black;
    color:#f0ad4e
     
}

.cotes{
    border: solid 3px #f0ad4e;
    border-radius: 15px;
    margin-top: 30px;
}
.adresse{
    border: solid 3px;
    border-radius: 15px;
    line-height: 0.95em;
}
.btn{
    background-color: #f0ad4e;
}
.table{
    font-size: 14px;
}
