
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
        img {
            width: auto;
            height: 300px;
            width: 300px;
        }
}