@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

.selector-for-some-widget, * {
      box-sizing: content-box;
}

body {
    background-color: #444;  
}

nav {
      background: transparent;

      ul {
            margin-top: 20px;

            li {
                  box-sizing: border-box;
                  transition: all .3s;
                  a {
                        color: #fff;
                        font-size: 20px;
                        transition: all .3s;
                  }

                  &:hover {
                        transform: scale(1.3);
                        a{
                              text-decoration: none;
                              color: #fff;                           
                        }
                  }
            }
      }
}