@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

.selector-for-some-widget, * {
      box-sizing: content-box;
}

body {
    background-color: #888;  
}

nav {
      button {
            
            i {
                  color: #fff;
                  padding: 8px 12px;
                  border: 2px solid #fff;
                  border-radius: 10px;
                  font-size: 28px;
            }
      }

      div {
            ul {
                  li {
                        margin-left: 20px;
                        a {
                              color: #fff;
                              font-size: 24px;
                              
                        }
                  }
            }
      }
}