@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

main {
      height: 500px;
}
.footer-changer {
      order: 3;
      margin-top: 50px;
}

footer {
      background-color: #000;
      color: #fff;
      padding-top: 20px;
      border-top: 4px solid #f0ad4e;

      div {
            aside, article {
                  ul {
                        list-style: none;
                  }
            }
      }

      a {
            color: #aaa;
            font-size: 30px;
            transition: all .3s;
      }

      a:hover {
            color: #fff;
      }
}

@media only screen and (min-width: 576px) {
      .footer-changer {
            order: 2;
            margin-top: 10px;
      } 
      
      footer {
            aside:last-child {
                  order: 3;
            }
      }
}