@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";

.selector-for-some-widget, * {
      box-sizing: content-box;
}

body {
    background-color: #888;  
}

#nav-large {
      display: none;
      background: transparent;

      ul {
            margin-top: 20px;

            li {
                  box-sizing: border-box;
                  transition: all .3s;
                  a {
                        color: #fff;
                        font-size: 20px;
                        transition: all .3s;
                  }

                  &:hover {
                        transform: scale(1.3);
                        a{
                              text-decoration: none;
                              color: #fff;                           
                        }
                  }
            }
      }
}

#nav-small {
      button {
            
            i {
                  color: #fff;
                  padding: 8px 12px;
                  border: 2px solid #fff;
                  border-radius: 10px;
                  font-size: 28px;
            }
      }

      div {
            ul {
                  li {
                        margin-left: 20px;
                        a {
                              color: #fff;
                              font-size: 24px;
                              
                        }
                  }
            }
      }
}

@media #{$medium-down} {

      #nav-small {
            display: none;
      }

      #nav-large {
            display: block;
      }
}